﻿@model Cinemas.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=text]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Movie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.Movie, new List<SelectListItem>
                    {
           new SelectListItem{Text="Tomb Raider",Value="Tomb Raider"},
            new SelectListItem{Text="Black Panther",Value="Black Panther"},
             new SelectListItem{Text="Avengers3",Value="Avengers3"},
              new SelectListItem{Text="Rascal Rebel Rabbit",Value="Rascal Rebel Rabbit"},
               new SelectListItem{Text="Spider Man",Value="Spider Man"}
                        }, "Select Movie", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tickets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tickets, new List<SelectListItem>
                        {
                       new SelectListItem{Text="1",Value="1"},
                        new SelectListItem{Text="2",Value="2"},
                         new SelectListItem{Text="3",Value="3"},
                          new SelectListItem{Text="4",Value="4"},
                           new SelectListItem{Text="5",Value="5"},
                           new SelectListItem{Text="6",Value="6"},
                          new SelectListItem{Text="7",Value="7"},
                           new SelectListItem{Text="8",Value="8"}
                                }, "Select", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tickets, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Time, new List<SelectListItem>
                        {
                       new SelectListItem{Text="10.30 AM",Value="10.30 AM"},
                        new SelectListItem{Text="12 PM",Value="12 PM"},
                         new SelectListItem{Text="3 PM",Value="3 PM"},
                          new SelectListItem{Text="6 PM",Value="6 PM"},
                           new SelectListItem{Text="9 PM",Value="9 PM"},
                           new SelectListItem{Text="10.30 PM",Value="10.30 PM"}
                                }, "Select", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}