﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-image: url('../../Content/Images/hd2.jpg'); background-size: cover;">
   
        <h2 style="align-content:center;color:white;">Welcome to LUXE Cinemas!</h2>
    
    <div class="navbar-form">
        <img id="img_header" alt="Movies" src="@Url.Content("~/Content/Images/MoviesHeaderImage.png")" />
    </div>
    <div class="navbar-collapse collapse" style="padding-top:70px!important">
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" width="10%">
                        <ul class="nav navbar-nav">
                            <li><h5 style="color:white">Customer</h5>                                
                                <ol>
                                    @Html.ActionLink("Login", "Index", "Logins", new { area = "" }, null)
                                </ol>
                            </li>
                            <li id="adminList">
                                <h5 style="color:white">Admin</h5>
                                <ol>@Html.ActionLink("Manage Customers", "Index", "Customers", new { area = "" }, null)</ol>
                                <ol>@Html.ActionLink("Login Information", "Details", "Logins", new { area = "" }, null)</ol>
                                <ol>@Html.ActionLink("Card Information", "Index", "CreditCards", new { area = "" }, null)</ol>
                                <ol>@Html.ActionLink("Bookings Information", "Index", "Bookings", new { area = "" }, null)</ol>

                            </li>
                        </ul>
                    </td>
                    <td width="90%">
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; Luxe Cinemas</p>
                            </footer>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
